<!--Saralyn Poole
  	CST-339
  	Activity 2
 	1/24/2024 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>

    <div align="center">
        <div th:replace="layouts/common :: header">My Header</div>

        <section layout:fragment="content">
            <p>My Body Contents`</p>
        </section>

        <div th:replace="layouts/common :: footer">My Footer</div>
    </div>
    <script src="https://cdn.usebootstrap.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</body>

</html>
 	